* {
  transform: none !important;
  zoom: 1 !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full height of the viewport */
  }
  
  /* .custom-sidebar {
    width: 210px;
    background-color: #111;
    padding-top: 20px;
    position: fixed; 
    height: 100%;
    z-index: 1000; 
  }
  
  .custom-sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  } */
  
  .custom-sidebar a:hover {
    background-color: #575757;
  }
  
  .main-content {
     z-index: 9999;
  /* padding: 20px; */
    flex-grow: 1; 
  }

  @media screen and (max-width: 1330px) {
    .main-content {
      z-index: 9999;
      width: fit-content;
     flex-grow: 1; 
   }
    
  }
  @media screen and (max-width: 880px) {
    .main-content {
    padding: 0px;
   }
    
  }